.add-task-container {
  height: 100%;
  width: 100%;
  margin-bottom: 5em;
  overflow-y: scroll;
}

.add-task-container::-webkit-scrollbar {
  width: 7px;
}

.add-task-container::-webkit-scrollbar-track {
  background: transparent;
}

.add-task-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 10px; /* Roundness of the scroll thumb */
  padding-right: 0.2em;
}
.new-task-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-task-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1em 0;
  gap: 2em;
}

.plus-step {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10px;
  background-color: var(--plus-one-step);
  border: none;
  color: black;
  cursor: pointer;
  font-size: large;
}

.box {
  width: 80%;
  background-color: var(--box-input-background);
}

.standard-container-input.box.full {
  width: 100%;
}
.one-new-step-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.delete-new-step {
  height: 2em;
}

.one-step {
  box-shadow: 0px 0px 6px var(--primary-color);
  padding: 1.5em;
  margin: 1em;
  border-radius: 10px;
  position: relative;
  background-color: var(--box-input-background);
}

.delete-step {
  position: absolute;
  top: 8%;
  left: 87%;
  cursor: pointer;
  font-weight: bold;
}

.delete-step img {
  width: 80%;
}
.delete-step img:hover {
  transform: scale(1.1);
}

.form-title {
  margin: 0.5em;
  font-size: x-large;
  text-align: left;
}

.task-detail-container {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 80%;
  overflow-y: scroll;
  flex-direction: column;
}

.task-detail-container::-webkit-scrollbar {
  width: 7px;
}

.task-detail-container::-webkit-scrollbar-track {
  background: transparent;
}

.task-detail-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 10px; /* Roundness of the scroll thumb */
  padding-right: 0.2em;
}

.links-container li {
  margin-top: 1em;
}

.links-container {
  padding-bottom: 3em;
}

.link {
  text-decoration: underline;
  color: var(--letter-color);
  margin-top: 1em;
}

.estimated-time-box {
  height: 100%;
  width: 25%;
}

.estimated-time-container {
  height: 20%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
}

.standard-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.standard-container-title-icon {
  cursor: pointer;
  position: absolute;
  width: 2em;
  height: 2em;
  right: 0;
  margin-right: 1em;
}

.standard-container-title-icon:hover {
  transform: scale(1.1);
}

.task-description {
  margin-top: 2em;
  margin-bottom: 2em;
}

.task-state-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.task-state-container.notstarted {
  background-color: rgba(85, 171, 232, 0.747);
}
.task-state-container.inprogress {
  background-color: rgba(232, 200, 85, 0.747);
}
.task-state-container.finished {
  background-color: rgba(141, 232, 85, 0.747);
}

.task-state-container label {
  font-weight: bold;
}

.step {
  display: flex;
  align-items: center;
  margin-top: 1em;
  border-radius: 24px;
  padding: 1em;
  width: 100%;
  justify-content: space-between;
  gap: 2em;
  background: var(--subcontainer-background);
}

.step-data-container {
  display: flex;
  flex-direction: column;
  font-size: small;
  gap: 1em;
}

input[type="checkbox"] {
  accent-color: #48f678;
  margin-left: 1em;
}

.step-number {
  height: 2em;
  width: 2em;
  min-width: 2em;
  display: flex;
  justify-self: flex-start;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0.5em;
  background-color: var(--primary-color);
  color: #000;
}

.step-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.standard-container-title.task-name h1 {
  font-size: medium;
}

.task-detail-container.chatbot {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.636);
  border-radius: 24px;
  padding: 1em;
  color: white;
  margin-top: 2em;
}

.getHelp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 0.354em;
  border-radius: 10px;
  gap: 0.1em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.getHelp-container:hover {
  transform: scale(1.1);
}

.getHelp-text {
  font-size: x-small;
  text-align: center;
  white-space: nowrap;
}

.getHelp-text.header {
}

.getHelp-container.header {
  gap: 0.1em;
}

.step-description {
  text-align: justify;
}
