.landingPage-container {
  min-height: 100vh;
}
.landingPage-login-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 3em;
}

.landingPage-google-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.landingPage-google-button-image:hover {
  transform: scale(1.1);
}

.landingPage-google-button-image {
  cursor: pointer;
  transition: all 1s;
}
