.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  animation-name: slide-in-out;
  animation-duration: 1s;
}
.header-right-container {
}
.notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  border-radius: 24px;
  z-index: 99;
  position: absolute;
  right: 2em;
  background: linear-gradient(
    180deg,
    rgba(234, 246, 249, 0.6) 87%,
    rgba(210, 239, 248, 0.6) 100%
  );
  height: fit-content;
  width: 95%;
  max-width: 350px;
}
.animation-container {
  display: flex;
  align-items: center;
}
.circles-notification-container {
  display: flex;
  flex-direction: column;
}
.circles-container {
  display: flex;
  gap: 0.5em;
  margin-left: 0.5em;
  height: 2em;
  align-items: center;
}
.notification-standard-container {
  z-index: 100;
  right: 0;
  height: fit-content;
  width: 90%;
}
.notification-message-container {
  padding: 1em 2em 3em 2em;
}
.circle-header {
  height: 2em;
  width: 2em;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: rgba(255, 0, 0, 0.625) !important;
}

.circles-container img {
  height: 1.2em;
  cursor: pointer;
}

.user-name-container {
  display: flex;
  align-items: center;
  min-height: 2em;
  padding-right: 1em;
  padding-left: 1em;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 20px;
}

.user-name-container img {
  height: 1.2em;
  margin-left: 20px;
}

.user-name {
  font-size: 1.5em;
  color: white;
}

.header-logo-image {
  width: 5em;
  height: 5em;
}
