.dashboard-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (width > 1200px) {
  .dashboard-container {
    width: 100%;
    flex-direction: row-reverse;
  }
}

.show-new-project > .stats-block {
  transition: all 0.15s;
  transform: translateX(50%);
}

.show-new-project > .projectList {
  transform: translateX(-50%);
  transition: all 0.15s;
}

.remove-new-project > .stats-block {
  transform: translateX(-50%);
  transition: all 0.15s;
}

.newProject {
  display: none;
}

.remove-new-project > .projectList {
  transform: translateX(50%);
  transition: all 0.15s;
}

.remove-new-project > .newProject {
  transition: all 0.15s;
  opacity: 0;
  transform: scale(0.8);
}

.stats-block,
.projectList {
  z-index: 1;
}
