.title-info:hover + .project-info-description-container {
  visibility: hidden;
  background-color: red;
}

.project-info-container {
  height: fit-content;
}

.project-info-description-container::-webkit-scrollbar {
  display: none;
}

.project-info-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-info-description-container {
  width: 100%;
  height: 100%;
  text-align: justify;
  overflow-y: scroll;
}
.description-text {
  padding: 2em;
  width: fit-content;
}

.project-info-option-icon {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

.project-info-btn-container {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-right: 1em;
}

.project-expandable.hidden {
  visibility: hidden;
  transition: all 0.5s;
  height: 0;
  opacity: 0;
}

.project-expandable {
  transition: all 0.5s;
  opacity: 1;
  height: 30vh;
  width: 100%;
}

.project-option-icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: all 0.2s;
}

.project-option-icon.plus-minus {
  width: 1.5em;
  height: 1.5em;
  filter: opacity(0.5);
}

.project-option-icon:hover {
  transform: scale(1.1);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.popup-content {
  background-color: rgba(30, 30, 30, 1);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 500px;
  height: 15vh;
}
.pop-up-text {
  padding: 0.5em;
}
