
.title-info:hover + .project-info-description-container{
  visibility: hidden;
  background-color: red;

}

.project-info-container {
height: fit-content;
}

.project-info-description-container::-webkit-scrollbar {
  display: none;
}

.project-info-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-info-description-container {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  padding: 2em;  
  text-align: justify;
  overflow-y: scroll;
}

.project-info-option-icon {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

.project-info-btn-container {
  display: flex;
  width: 20%;
  gap: 1em;
}
