.open-collaborators-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: xx-large;
  cursor: pointer;
}

.collaborators-container {
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
}

.collaborators-container.new-collaborator {
  padding: 7%;
  box-sizing: border-box;
}

.collaborators-container::-webkit-scrollbar {
  display: none;
}

.standard-container.project-collaborator-container {
  height: auto;
}
