.project-list {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  height: 47vh;
  overflow: auto;
  padding-right: 1.5em;
  margin-right: -1.5em;
}
.project-list::-webkit-scrollbar {
  width: 0.5em; /* width of the entire scrollbar */
}

.project-list::-webkit-scrollbar-track {
  background: rgba(108, 108, 108, 0); /* color of the tracking area */
}

.project-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px; /* roundness of the scroll thumb */
}

.projectList-one-project a {
  text-decoration: none;
  color: black;
}

.project-list h1 {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.new-project-button {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: none;
  border-right: none;
  font-weight: bold;
  font-size: 25px;
  width: 15%;
  transition: all 0.2s;
  cursor: pointer;
  height: 45px;
  border-radius: 24px 0 24px 0;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: -5px -4px 5px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.new-project-button:hover {
  height: 49px;
  width: 16%;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.stats-one-stat {
  height: 28%;
  width: 90%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #ffffff;
  border-radius: 24px;
  padding: 0.75em;
  margin-top: 0.5em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.stats-one-stat.list {
  padding: 0.5em;
}

.link-to-project {
  text-decoration: none;
  color: #000;
  padding-left: 1em;
}
