.header-logo-image.smaller {
  height: 3em;
  width: 3em;
}

.chatbot-message-container {
  height: 73%;
  width: 90%;
  overflow-y: scroll;
  margin-top: 10px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;

}

.chatbot-input-container {
  display: flex;
  width: 90%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
}

.chatbot-send-icon {
  height: 50%;
  margin-right: 0.4em;
}

.chatbot-message-container::-webkit-scrollbar {
  display: none;
}

.chatbot-message {
  margin: 1em;
  padding: 1em;
  border-radius: 24px;
  width: fit-content;
  max-width: 80%;
  color: var(--letter-color-opposite);
}

.chatbot-message-user-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.chatbot-chat-input {
  width: 100%;
  margin-right: 0.5em;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  margin-left: 1em;
  color: white;
  font-size: 1.2em;
  border-radius: 24px 0 0 24px;
}

.chatbot-message.user {
  background-color: #c5fbd0;
  align-self: flex-end;
}

.chatbot-message.bot {
  background-color: #abffbc;
}

.container.smaller {
  position: relative;
  height: 20px;
  width: 17.2px;
  transform: scale(0.5);
}
.cube.smaller {
  position: absolute;
  width: 17.2px;
  height: 20px;
}

.face.smaller {
  height: 10px;
  width: 10px;
  position: absolute;
  transform-origin: 0 0;
}
