.header-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  flex-direction: row;
  margin-bottom: 5em;
  gap: 1em;
  animation-name: slide-in-out;
  animation-duration: 1s;
}
.user-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  box-sizing: border-box;
  min-width: 260px;
  height: auto;
  padding: 0.5em;
  border: 2px solid #ffffff;
  border-radius: 24px;
  color: #ffffff;
  cursor: pointer;
  animation-name: slide-in-out;
  animation-duration: 1s;
}
.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.circle-hearder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 24px;
  width: auto;
  height: 0.8em;
  border-radius: 50%;
  padding: 1em;
  animation-name: slide-in-out;
  animation-duration: 1s;
}

.moon-img,
.logOut-img {
  width: 300%;
}

.circles-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 110px;
}
.animation-container {
  display: flex;
  flex-direction: row;
  transition: all 1s;
  gap: 1em;
}
@keyframes slide-in-out {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
