.project-list {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  width: 90%;
  align-items: center;
  height: 74%;
  margin-top: 2%;
  overflow: auto;
  border-radius: 24px;
  padding-bottom: 10%;
  overflow-x: hidden;
}
.project-list::-webkit-scrollbar {
  display: none;
}

.project-list::-webkit-scrollbar-track {
  background: rgba(108, 108, 108, 0); /* color of the tracking area */
}

.project-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px; /* roundness of the scroll thumb */
}

.projectList-one-project a {
  text-decoration: none;
  color: var(--letter-color);
}

.link-to-project {
  text-decoration: none;
  padding-left: 1em;
  color: var(--letter-color);
  font-size: medium;
}
