@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"),
    url("./data/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "PoppinsLight";
  src: local("PoppinsLight"),
    url("./data/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "PoppinsMedium";
  src: local("PoppinsMedium"),
    url("./data/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
    url("./data/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: local("PoppinsSemiBold"),
    url("./data/fonts/Poppins-SemiBold.ttf") format("truetype");
}
[data-theme="dark"] {
  --foreground-color: #000000;
  --background-color: #eeeeee;
  --letter-color: rgba(255, 255, 255, 0.8);
  --letter-color-opposite: #000;
  --primary-color: rgba(184, 254, 187, 1);
  --secundary-color: rgba(185, 232, 246, 1);
  --full-gradient: linear-gradient(
    to bottom,
    rgba(185, 232, 246, 1),
    rgba(184, 254, 187, 1)
  );
  --border-color: rgba(184, 254, 187, 1);
  --shadow-color: rgba(184, 254, 187, 0.25);
  --container-background: linear-gradient(
    to bottom,
    rgba(184, 254, 187, 0.24),
    rgba(185, 232, 246, 0.24)
  );
  --subcontainer-background: linear-gradient(
    to right,
    rgba(185, 232, 246, 0.21),
    rgba(184, 254, 187, 0)
  );
  --main-background: linear-gradient(
    to bottom,
    rgba(72, 72, 72, 1),
    rgba(30, 30, 30, 1)
  );
  --subcontainer-message: rgba(184, 254, 187, 1);
  --message-user-background: rgba(184, 254, 187, 1);
  --message-bot-background:  rgba(185, 232, 246, 1);
  --message-writing:rgba(50, 50, 50, 1);
  --chat-input-background: rgba(50, 50, 50, 1);
  --opt-selected: rgba(184, 254, 187, 1);
  --opt-deselected: rgba();
}

:root {
  --primary-color: rgba(184, 254, 187, 1);
  --secundary-color: rgba(185, 232, 246, 1);
  --letter-color: rgba(50, 50, 50, 0.8);
  --letter-color-opposite: #ffffffc0;
  --border-color: rgba(255, 255, 255, 0.8);
  --subcontainer-background: rgba(255, 255, 255, .8);
  --container-background: rgba(255, 255, 255, .3);
  --full-gradient: rgba(57, 169, 245, 0.4);
  --main-background: linear-gradient(
    to bottom,
    rgba(184, 254, 187, 1),
    rgba(185, 232, 246, 1)
  );
  --message-user-background: rgba(255, 255, 255, .5);
  --message-bot-background: rgba(255, 255, 255, .8);
  --message-writing:rgba(50, 50, 50, 0.8);
  --chat-input-background: rgba(255, 255, 255, .8);
  --opt-selected: rgba(255, 255, 255, 1);
  --opt-deselected: rgba(50, 50, 50, 0.8);
}

* {
  margin: 0;
  padding: 0;
  font-family: "PoppinsRegular", sans-serifs;
}
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Charlie ", sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}
:root::-webkit-scrollbar {
  display: none;
}

.app {
  min-height: 100vh;
  max-width: 100vw;
  color: var(--letter-color);
  background-image: var(--main-background);
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  max-width: 650px;
  animation-name: appear;
  animation-duration: 0.15s;
}

.stats-block {
  justify-content: flex-end;
  gap: 1.5em;
}

.standard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 80%;
  justify-self: center;
  margin: 1em;
  background-color: var(--container-background);
  border: 4px solid var(--border-color);
  box-shadow: 0 0 12px 3px var(--shadow-color);
  border-radius: 10px;
}

.stats-container {
  height: 45%;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

h1 {
  font-size: large;
  padding: 0.5em;
  color: var(--letter-color);
}

.form-input-title {
  color: var(--letter-color);
  font-size: medium;
}
.new-project-description {
  font-size: 0.1em;
}
.standard-container-button.small {
  font-size: small;
}
.standard-container-button.medium {
  font-size: medium;
}
.standard-container-input {
  font-size: small;
}

.standard-container-button {
  position: absolute;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: none;
  border-right: none;
  font-size: small;
  color: var(--letter-color-opposite);
  font-weight: 200;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  background: var(--full-gradient);
  box-shadow: -5px -4px 5px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  bottom: 0;
}
@media screen and (-webkit-min-device-pixel-ratio : 700px) {
  .form-input-title {
    font-size: large;
  }
  h1 {
    font-size: x-large;
    padding: 0.5em;
  }
  .standard-container-button {
    font-size: medium;
  }
  .standard-container-input {
    font-size: medium;
  }
}
@media screen and (-webkit-min-device-pixel-ratio : 1200px) {
  .form-input-title {
    font-size: x-large;
  }
  .standard-container-input {
    font-size: large;
  }
  h1 {
    font-size: x-large;
    padding: 0.5em;
  }
  body {
    overflow: scroll;
  }
  .statc-block {
    justify-content: space-between;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.standard-container-title {
  top: 0;
  width: 100%;
  text-align: center;
  transition: all 1s;
  color: white;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-image: var(--full-gradient); */
  background-color: var(--border-color);
  border-radius: 5px 5px 0 0;
  display: flex;
 MIN-height: 10%;
}

.standard-container-title > h1 {
  color: black;
}

.standard-container-title.hidden {
  border-radius: 10px 10px 10px 10px;
}

.standard-container-title h1 {
  width: 80%;
  font-family: "PoppinsLight";
}

.standard-container .standard-container-button.small {
  width: 1.8em;
  height: 1em;
  font-size: 2em;
}

.standard-container.hiddable.hidden {
  height: 0;
}
.standard-container-button.notification {
  padding: 0.5em 1em 0.5em 1em;
}
.standard-container-button.medium {
  min-width: fit-content;
  padding: 1em 2em 1em 2em;
  height: 1em;
}

.standard-container-button.large {
  width: 30%;
}

.standard-container-button.left {
  left: 0;
  border-radius: 0 10px 0 0;
  box-shadow: 0px 0px 5px 0px var(--border-color);
  border-left: none;
  border-right: 1px solid white;
}

.standard-container-button.right {
  border-radius: 10px 0 0 0;
  box-shadow: 0px 0px 5px 0px var(--border-color);
  right: 0;
}
.standard-container-button:hover {
  filter: brightness(1.2);
  color: var(--letter-color-opposite);
}
