* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serifs;
  font-weight: 100s;
}
#root {
  margin: 2em;
}

:root {
  --background: linear-gradient(
    to bottom,
    #b8febb,
    #a2fcd6,
    #9df7ea,
    #a7f0f6,
    #b9e8f7
  );
  --standard-container: rgba(255, 255, 255, 0.24);
  --project-task-container: rgba(255, 255, 255, 0.24);
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-image: var(--background);
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 90vw;
  max-width: 650px;
  animation-name: appear;
  animation-duration: 0.15s;
}

.stats-block {
  justify-content: flex-end;
  gap: 1.5em;
}

.standard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
  justify-self: center;
  margin: 1em;
  background: var(--standard-container);
  border: 2px solid #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}

.stats-container {
  height: 45%;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

h1 {
  font-size: large;
  padding: 0.5em;
  color: #000000;
}

.form-input-title {
  color: #000;
  font-size: medium;
}
.new-project-description {
  font-size: 0.1em;
}
.standard-container-button.small {
  font-size: small;
}
.standard-container-button.medium {
  font-size: medium;
}
.new-project-input {
  font-size: small;
}

.standard-container-button {
  position: absolute;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: none;
  border-right: none;
  font-size: small;
  color: white;
  width: 25%;
  font-weight: bold;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  background-color: rgb(70, 81, 237);
  box-shadow: -5px -4px 5px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  bottom: 0;
  height: 45px;
}
@media screen and (width > 700px) {
  .form-input-title {
    font-size: large;
  }
  h1 {
    font-size: x-large;
    padding: 0.5em;
  }
  .standard-container-button {
    font-size: medium;
  }
  .new-project-input {
    font-size: medium;
  }
}
@media screen and (width > 1200px) {
  .form-input-title {
    font-size: x-large;
  }
  .new-project-input {
    font-size: large;
  }
  h1 {
    font-size: x-large;
    padding: 0.5em;
  }
  body {
    overflow: scroll;
  }
  .statc-block {
    justify-content: space-between;
  }
  .block {
    width: 30vw;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.standard-container-title {
  top: 0;
  width: 100%;
  text-align: left;
  color: black;
  border-radius: 24px 24px 0 0;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
}

.standard-container .standard-container-button.small {
  width: 10%;
  font-size: 2em;
}

.standard-container-button.medium {
  width: 25%;
}

.standard-container-button.large {
  width: 30%;
}

.standard-container-button:hover {
  filter: brightness(1.2);
}

.standard-container-button.left {
  left: 0;
  border-radius: 0 24px 0 24px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: 1px solid white;
}

.standard-container-button.right {
  border-radius: 24px 0 24px 0;
  right: 0;
}
